header, main, footer {
  width: 90%;
  max-width: 900px;
  margin: auto;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(200, 200, 200);
}

h1, p{
    text-align: center;
}

.photos{
    background-color: white; 
    padding-bottom: 10px;
    text-align: center;
}

img {
  width: 100%;
  height: auto;
}

figcaption{
    margin-top: 10px;
}

.Biographie{
    margin: 0 auto;
    width: 30rem;
    margin-top: 19px;
}

li{
    margin-bottom: 10px;
    line-height: 20px;
}
section p{
    margin-right: 15px;
    margin-bottom: 10px;
}

.citation{
    width: 550px;
    margin: 0 auto;
}
footer{
    font-weight: bold;
}